.popup__input-error { 
    font-size: 12px;
    opacity: 0;
    transition: 0.3s;
} 

.popup__input-error_active {
    opacity: 1;
    color: red;
}

.popup__input_type-error {
    border-block-end-color: #FF0000;
}
